.hero {
    background-image: url('src/assets/img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    width: 100%;
}

.heroContent {
    text-align: left;
    color: white;
    margin: 80px 0;
}

.heroTitle {
    font-size: 96px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.5;
}

.heroButton {
    background: #339933;
    color: white;
    border: none;
    padding: 15px 56px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}

.heroButton:hover {
    background: #282828;
}

.categoriesSection, .saleSection {
    padding: 80px 0;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.sectionTitle {
    font-size: 64px;
    font-weight: bold;
    color: #282828;
}

.viewAllButton {
    background: none;
    border: 2px solid #8B8B8B;
    color: #8B8B8B;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    text-decoration: none;
}

.viewAllButton:hover {
    color: #282828;
}

.categoriesGrid, .productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}

.categoryCard, .productCard {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s;
    text-decoration: none;
}

.categoryCard:hover, .productCard:hover  {
    transform: translateY(-5px);
}

.categoryImage, .productImage {
    width: 316px;
    height: 392px;
    object-fit: cover;
}

.categoryTitle, .productTitle {
    padding: 16px;
    font-size: 20px;
    font-weight: 400;
    color: #282828;
    text-align: center;
}

.productInfo {
    padding: 20px;
}

.prices {
    display: flex;
    gap: 10px;
    align-items: center;
}

.oldPrice {
    text-decoration: line-through;
    color: #8B8B8B;
    font-size: 20px;
}

.newPrice {
    color: #282828;
    font-size: 40px;
    font-weight: bold;
}

.registrationSection {
    background: #339933;
    background: linear-gradient(90deg, rgba(51, 153, 51, 1) 0%, rgba(11, 113, 11, 1) 71%);
}

.registrationContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.registrationTitle {
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}


.registrationForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.formInput {
    background: none;
    padding: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 20px;
    width: 100%;
}

.formInput::placeholder {
    color: #FFFFFF;
}

.submitButton {
    background: #FFFFFF;
    color: #282828;
    border: none;
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.submitButton:hover {
    background: #282828;
    color: #FFFFFF;
}

.submitButton:disabled {
    background: #F1F3F4;
    color: #339933;
    cursor: not-allowed;
}
