.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 48px;
    color: #282828;
    margin: 0;
}

.backButton {
    background: none;
    border: 2px solid #8B8B8B;
    color: #8B8B8B;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    text-decoration: none;
}

.backButton:hover {
    color: #282828;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}

.orderSection {
    background: #F1F3F4;
    padding: 32px;
    border-radius: 12px;
    height: fit-content;
    width: 548px;
}

.orderSection h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #282828;
}

.orderInfo {
    margin-bottom: 30px;
}

.orderRow {
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
    gap: 15px;
    justify-content: space-between;
}

.orderRow p {
    color: #8B8B8B;
    font-size: 40px;
}

.orderRow span{
    font-weight: bold;
    font-size: 64px;
    color: #282828;
}

.orderForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formInput {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.orderButton {
    background: #339933;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.orderButton:hover {
    background: #282828;
}

.orderButton:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.orderButton:disabled:hover {
    background: #cccccc;
}

.cartItems {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cartItem {
    display: flex;
    gap: 32px;
    background: white;
    border-radius: 12px;
    border: 1px solid #DDDDDD;
    position: relative;
}

.itemImage {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.itemInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px;
}

.itemTitle {
    font-size: 20px;
    font-weight: 500;
    color: #282828;
}

.quantityControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
}

.quantityControls button {
    width: 58px;
    height: 62px;
    border: 1px solid #ddd;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B8B8B;
}

.quantityControls button:hover {
    background: #e0e0e0;
}

.quantityControls span {
    font-size: 24px;
    font-weight: 500;
    min-width: 30px;
    text-align: center;
}

.itemPrice {
    font-size: 40px;
    font-weight: 600;
    color: #282828;
}

.priceInfo{
    display: flex;
    gap: 32px;
}

.removeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #282828;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeButton:hover {
    background: #282828;
    color: #FFFFFF;
}

.emptyCart {
    text-align: center;
    padding: 60px 20px;
}

.emptyCart h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #282828;
}

.emptyCart p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.continueShoppingBtn {
    background: #339933;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    transition: background 0.3s;
}

.continueShoppingBtn:hover {
    background: #2d862d;
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #2d862d;
    padding: 32px;
    color: #FFFFFF;
    border-radius: 12px;
    width: 548px;
}

.modal h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}

.modal p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.modalButton {
    background: #FFFFFF;
    color: #339933;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background 0.3s;
}

.modalButton:hover {
    background: #3399336b;
    color: #FFFFFF;
}